<div class="card bg-light mb-3 mt-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button class="btn btn-primary my-2" routerLink="/exam/form">Create</button>
        <div class="alert alert-info" *ngIf="exams?.length==0">No hay examenes en la base de datos</div>
        <table class="table table-hover table-striped" *ngIf="exams?.length>0">
            <thead>
                <tr>
                   <th>id</th>
                   <th>Name</th>
                   <th>Subjects</th>
                   <th>Questions</th>
                   <th>Create At</th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let exam of exams">
                    <td>{{exam.id}}</td>
                    <td>{{exam.name}}</td>
                    <td>{{exam.specificSubject?.generalSubject.name}} -> {{exam.specificSubject?.name}}</td>
                    <td>{{exam.questions.length}}</td>
                    <td>{{exam.createAt | date: 'yyyy/MM/dd'}}</td>
                    <td><button class="btn btn-secondary btn-sm" [routerLink]="['/exam/form', exam.id]">Editar</button></td>
                    <td><button class="btn btn-danger btn-sm" (click)="delete(exam)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]= "totalRecords"
              [pageSize]= "totalPerPage"
              [pageIndex]= "actualPage"
              [pageSizeOptions]= "pageSizeOptions"
              (page) = paginate($event)
              showFirstLastButtons
              class="float-start mx-2">
        </mat-paginator>
    </div>
</div>
