<mat-card>
    <mat-card-header *ngIf="course">
        <mat-card-title>
            Examenes del curso {{course.name}}
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mx-3 my-3" style="width: 50%;">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let exam"> {{exam.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let exam"> {{exam.name}} </td>
            </ng-container>

            <ng-container matColumnDef="specificSubject">
                <th mat-header-cell *matHeaderCellDef>Asignatura</th>
                <td mat-cell *matCellDef="let exam"> {{exam.generalSubject.name}} ->
                    {{exam.specificSubject.name}} </td>
            </ng-container>

            <ng-container matColumnDef="questions">
                <th mat-header-cell *matHeaderCellDef>Preguntas</th>
                <td mat-cell *matCellDef="let exam">
                    {{exam.questions.length}}
                </td>
            </ng-container>

            <ng-container matColumnDef="answer">
                <th mat-header-cell *matHeaderCellDef>Responder</th>
                <td mat-cell *matCellDef="let exam">
                    <button mat-stroked-button color="warn" 
                    [disabled]="exam.answered"
                    (click)="answerExam(exam)"
                    >
                        {{exam.answered? 'Respondido': 'Responder'}}
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="show">
                <th mat-header-cell *matHeaderCellDef>Ver</th>
                <td mat-cell *matCellDef="let exam">
                    <button mat-stroked-button color="primary" 
                    [disabled]="!exam.answered">
                        Ver
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="showColumnsExams"></tr>
            <tr mat-row *matRowDef="let exma; columns: showColumnsExams;">
            </tr>
        </table>
        <mat-paginator 
        [pageSizeOptions]="pageSizeOptions" 
        showFirstLastButtons class="float-start mx-2">
        </mat-paginator>
    </mat-card-content>
</mat-card>